<!-- creamos ahora una función para listar todos los contactos-->

<form action="/new" method="POST" class="card bg-black text-light">
    <div class="card-body p-4">
        <h1 class="h5 mb-4">Añadir un contacto
        </h1>

        <div class="mb-3">
            <label for="fullname">Escribe tu nombre y apellidos:</label>
            <input
                type="text"
                name="fullname"
                class="form-control rounded-0 bg-dark border-0 text-white"
                placeholder="Nombre Apellido"
                autofocus
            />
        </div>

        <div class="mb-3">
            <label for="email">Escribe tu email:</label>
            <input
                type="text"
                name="email"
                class="form-control rounded-0 bg-dark border-0 text-white"
                placeholder="nombre@myuax.com"
                required
            />
        </div>

        <div class="mb-3">
            <label for="phone">Escribe tu número de teléfono:</label>
            <input
                type="text"
                name="phone"
                class="form-control rounded-0 bg-dark border-0 text-white"
                placeholder="+34 123456789"
            />
        </div>

        <button class="btn btn-primary">Guardar</button>
    </div>
</form>