<!--Esto es una variable para que muestre los mensajes que vienen desde flask-->
<!--Para hacerlo, cada vez que el programa funcione, va a buscra si hay nuevos mensajes para recorrerlos y mostrarlos-->

{% with messages = get_flashed_messages() %}

    {% if messages%}
        {%for message in messages%}
            {{message}}


<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{message}}
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
    ></button>
</div>
        {% endfor %}
    {% endif %}

{% endwith %}