<!-- todo el código se hereda de layout.html-->
{%extends 'layout.html' %}

{%block body%}


<!--h1, h2, ..., h6, se tratan de encabezado que van desde el más importante al que menos, respectivamente-->
<!--p se trata de un lenguaje donde mostrar texto en párrafos-->
<!--form es un formulario-->


<!-- Vamos a organizar el código en distintas secciones -->
<div class="row">

    <div class="col-md-5 p-5">
        {% include 'partials/_message.html'%}

        {%include 'partials/_contactform.html'%}
    </div>


    <div class="col-md-7">

        <!-- Ahora vamos a recorrer un buble for, recorriendo la lista contacts-->
        {% for contact in contacts%}

            <div class="card mb-1 bg-black text-white">
                <div class="card-body py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title h6">{{ contact.fullname}}</h5>
                        <div>
                            <!--Ahora vamos a crear unos botos para que eliminen y guarden un contacto-->
                            <a href = "{{url_for('contacts.update_contact', id = contact.id)}}"class="btn btn-dark btn-sm rounded-0">Editar</a>
                            <a href = "{{url_for('contacts.delete_contact', id =contact.id)}}" class="btn btn-danger btn-sm rounded-0">Eliminar</a>
                        </div>
                    </div>
                    <p class="card-text">{{ contact.email }}</p>
                    <p class="card-text">{{ contact.phone }}</p>
                </div>
            </div>

        {% endfor %}
    </div>




{%endblock %}