<!--h1, h2, ..., h6, se tratan de encabezado que van desde el más importante al que menos, respectivamente-->
<!--p se trata de un lenguaje donde mostrar texto en párrafos-->
<!--form es un formulario-->
<form action ='/new' method = 'POST'>
    <input type='text' name='fullname' placeholder = 'Escribe tu nombre completo: ' />
    <input type='text' name='email' placeholder = 'Escribe tu email: ' />
    <input type='text' name='phone' placeholder = 'Escribe tu teléfono completo: ' />
    <button>Save</button>
</form>

<!-- creamos ahora una función para listar todos los contactos-->
<div>
    <!-- Ahora vamos a recorrer un buble for, recorriendo la lista contacts-->
    {% for contact in contacts%}

    <div>
        <h5> {{contact.fullname}} </h5>
        <div>
            <!--Ahora vamos a crear unos botos para que eliminen y guarden un contacto-->
            <a href = "{{url_for('contacts.update_contact', id = contact.id)}}">Update</a>
            <a href = "{{url_for('contacts.delete_contact', id =contact.id)}}">Delete</a>
        </div>
        <p> {{contact.email}} </p>
        <p> {{contact.phone}} </p>
    </div>
    {% endfor %}
</div>